
@import '../../../sass/variables';
.search{
  padding: 1rem;
}

input{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid $grey;
  border-radius: 0.4rem;
  padding: 1rem;
  width: 20rem;

}
input[type=text]:focus{
  box-shadow: 0 0 5px $grey;
  border: 1px solid $grey;
  border-radius: 0.4rem;
  padding: 1rem;

}
