
@import '../../../sass/variables';

.search{
  display: flex;
  justify-content: space-between;
}
button{
  border-radius: 0.4rem;
  background-color: $red-light;
  color: $light;
  border: 0px;
  margin: 0.5rem;
  margin-left: -0.2rem;
  border-radius: 0.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;

}

input{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid $grey;
  border-radius: 0.4rem;
  padding: 1rem;
  width: 100%;
  margin: 0.5rem;

}
input[type=text]:focus{
  box-shadow: 0 0 5px $grey;
  border: 1px solid $grey;
  border-radius: 0.4rem;
  padding: 1rem;


}
