
@import '../../../sass/variables';

.title{
  font-weight: bold;
}
.info {
  display: flex;
  align-items: center;
  width: 25rem;
  font-weight: bold;
}
input[type="checkbox"]{
  display: none;
}

.hero-name {
  padding-left: 0.8rem;
}
.series{
  display: flex;
  flex-direction: column;
  width: 15rem;
  padding-left: 1rem;
  padding-right: 1rem;

}
.events{
  display: flex;
  flex-direction: column;
  width: 15rem;
  padding-left: 1rem;
  padding-right: 1rem;

}

img {

  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  margin-right: 10px;
  padding: 0rem 0.5rem 0rem 0.5rem;
}



.tab {
  width: 100%;
  color: $deep;
  overflow: hidden;
  border-radius: 8px;
  border: 2px solid $grey;
  margin-top: 1rem;

  &-label {
    display: flex;
    align-items: center;
    padding: 1em;
    padding-top: 25px;
    padding-bottom: 25px;
    background: $light;
    cursor: pointer;

    /* Icon */
    &:hover {
      background: darken($light, 10%);
    }

    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }

  &-content {
    max-height: 0;
    padding: 0 1em;
    color: $deep;
    background: white;
    transition: all .35s;
  }

  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $deep;
    cursor: pointer;

    &:hover {
      background: darken($deep, 10%);
    }
  }
}

// :checked
input:checked {
  +.tab-label {
    background: darken($light, 10%);

    &::after {
      transform: rotate(90deg);
    }
  }

  ~.tab-content {
    border-top: 1px solid $grey;
    max-height: 100vh;
    padding: 1em;
  }
}
@media screen and (max-width: 600px) {
  .series{
    display: none;

  }
  .events{
    display: none;

  }
}
@media screen and (min-width: 768px) {
  .series{
    width: 25rem;

  }

}
