@import '../../../sass/variables';

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.pages {
  color: $light;
  font-weight: bold;
}

.button-pagination {
  background-color: $red-light;
  color: $light;
  border-radius: 10px;
  border: 0px;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1rem;
  padding: 0.9rem;
  margin-bottom: 1rem;
}
