@import '../sass/variables';


#intro {
  color: $white;
  padding: 8rem 4rem 6rem 4rem ;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: -moz-flex-end;
  -webkit-justify-content: -webkit-flex-end;
  -ms-justify-content: -ms-flex-end;
  justify-content: flex-end;
  -moz-transition: opacity 1s ease, -moz-transform 1s ease;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  -ms-transition: opacity 1s ease, -ms-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  position: relative;
  cursor: default;
  text-align: center;
  z-index: 1;
  min-height: 10vh;
}


 #intro h1 {
    font-size: 5rem;
    line-height: 1;
  }

  #intro p {
    font-size: 1.25rem;
    font-style: italic;
    margin-top: -0.25rem;
    text-align: center;
  }


#main {
  background-color: $white;
  position: relative;
  margin: 0 auto;
  width: calc(100% - 4rem);
  max-width: 72rem;
  z-index: 2;
}

  #main > * {
    padding: 2rem 1rem 1rem 1rem ;
    margin: 0;
  }



  @media screen and (max-width: 736px) {

    #main > * {
      padding: 2rem 2rem 0.1rem 2rem ;
    }

  }

  @media screen and (max-width: 480px) {

    #main {
      width: 100%;
    }

  }
