@import '../sass/variables';



.header {
  overflow: hidden;
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: $light;
}
.copyright{
  color: $light;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem;
}


.header-right {
  float: right;
}

@media screen and (max-width: 600px) {
  .header {
    display: block;
    max-width: 24rem;
  }
  .header a {
    float: none;
    display: block;
    text-align: center;
  }

  .header-right {
    float: none;
  }

}


#main {
  position: relative;
  max-width: 70rem;
  margin: 0 auto;
  z-index: 2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
