/* You can add global styles to this file, and also import other style files */
@import './sass/variables';
@import './sass/reset';
@import './sass/fonts';


body {
  background: url(./assets/img/marvel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}



