
@import '../../../sass/variables';


.tabs {
  border-radius: 8px;
  overflow: hidden;
  padding: 2rem;
  padding-top: 1rem;
  margin: 1rem;
}
.loading{
  text-align: center;
}
.no-results{
  text-align: center;
  color: $light;

}
.pagination {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}


